.navigacia{
 display: flex;
 align-items: center;
 margin: 24px 78px 18px 99px ;
 justify-content: space-between;
}
nav  {
 display: flex;
 gap: 52px;
}
nav p{ 
 font-size: 16px;
 color: #636060;
}
.poster div{
   background-image: url(../images/Rectangle\ 1.png); 
  background-size: cover;     
  background-position: center;          
  background-repeat: no-repeat;   
  width: 100% ;
  height: 606px;
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 31px;
}
.poster div h1{
    font-weight: 700;
    font-size: 79px;
    color: #FFFFFF;
}
.poster div p{
    font-size: 19px;
    color: #FFFFFF;
}

